* {
  margin: 0;
  padding: 0%;
}
.title-details {
  font-size: 34px;
}
.profolio-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 25px;
  flex-wrap: wrap;
}
.profolio-top p {
  color: rgba(126, 132, 146, 1);
}
.image-details {
  width: 100%;
}
.main-color {
  color: rgba(126, 132, 146, 1);
  margin-top: 10px;
}
.profolio-top-left {
  display: flex;
  gap: 20px;
}
.profolio-top-left-text {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}
.text-detail p {
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.author-detail {
  display: flex;
  gap: 40px;
  align-items: start;
  flex-wrap: wrap;
}
.social-media-detail {
  display: flex;
  gap: 20px;
  align-items: center;
}
.author-detail-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  max-width: 500px;

  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 32px;
  text-align: left;
  text-underline-position: from-font;
  text-decoration-skip-ink: none;
}
.title-details-box {
  padding: 20px;
  margin: auto;
}
@media (min-width: 768px) {
  .title-details {
    font-size: 72px;
  }
  .title-details-box {
    padding: 20px;
    max-width: 940px;
    margin: 90px auto;
    display: flex;
    flex-direction: column;
    gap: 40px;
  }
}
